<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default title</h1>

<form method="post" style="max-width:400px" th:action="@{'/event/edit/' + ${event.id}}" th:object="${event}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>
    <div class="form-group" style="max-width:180px">
        <label th:for="date">Date</label>
        <input class="form-control" type="date" th:field="*{date}"/>
        <span class="error" th:errors="*{date}"></span>
    </div>
    <div class="form-group">
        <label th:for="location">Location</label>
        <input class="form-control" th:field="*{location}"/>
        <span class="error" th:errors="*{location}"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary">RESET</button>

</form>

<div class="alert alert-danger" th:if="${#fields.hasErrors('event.name')}">
    <p th:each="err : ${#fields.errors('event.name')}" th:text="${err}"></p>
</div>

</body>
</html>