<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default title</h1>

<div>
    <h5 th:text="${'Name: ' + event.name}"></h5>
    <h5 th:text="${'Date: ' + event.date}"></h5>
    <h5 th:text="${'Location: ' + event.location}"></h5>
    <h5 th:text="${'Gross Sales: ' + event.getTotalAmount()}"></h5>
</div>

<h4>Sales Items:</h4>
<table class="table" style="max-width:600px">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="item:${event.items}">
        <td th:text="${item.inventory.name}">name</td>
        <td th:text="${item.inventory.description}">description</td>
        <td th:text="${item.quantity}">quantity</td>
    </tr>
</table>

<a th:href="@{'/event/quantity/' + ${event.id}}" type="button" class="btn btn-primary">Update Quantity</a>


</body>
</html>