<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default title</h1>
<form method="post" th:action="@{/inventory/add}" th:object="${inventory}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span class="error" th:errors="*{name}"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}"/>
        <span class="error" th:errors="*{description}"></span>
    </div>
    <div class="form-group">
        <label th:for="sku">SKU#</label>
        <input class="form-control" th:field="*{sku}"/>
        <span class="error" th:errors="*{sku}"></span>
    </div>
    <div class="form-group">
        <label th:for="price">Price</label>
        <input class="form-control" type="number" th:field="*{inventoryDetail.price}"/>
        <span class="error" th:errors="*{inventoryDetail.price}"></span>
    </div>
    <div class="form-group">
        <label th:for="quantity">Quantity</label>
        <input class="form-control" type="number" th:field="*{inventoryDetail.quantity}"/>
        <span class="error" th:errors="*{inventoryDetail.quantity}"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<p th:if="${param.error}" class="error">
    Adding Merchandise Failed!
</p>
</body>
</html>