<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default title</h1>

<h3 th:text="${inventoryToEdit.name + ' (SKU#: ' + inventoryToEdit.sku + ')'}"></h3>

<br></br>
<form method="post" style="max-width:600px" th:object="${inventoryToEdit}" th:action="@{'/inventory/edit/' + ${inventoryToEdit.id}}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="price">Price</label>
        <input class="form-control" th:field="*{inventoryDetail.price}" type="number" />
        <span th:errors="*{inventoryDetail.price}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="quantity">Quantity</label>
        <input class="form-control" th:field="*{inventoryDetail.quantity}" type="number" />
        <span th:errors="*{inventoryDetail.quantity}" class="error"></span>
    </div>
    <input type="hidden" th:field="*{sku}"/>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
    <button type="reset" class="btn btn-secondary">RESET</button>
</form>


</body>
</html>